.header1 {
  display: flex;
  background-color: #131921;
  padding: 7px;
  color: white;
}
.header__logo {
  object-fit: contain;
  width: 100px;
  padding-top: 10px;
  padding-right: 25px;
  padding-left: 10px;
  border: 1px solid #131921;
  cursor: pointer;
}
.header__search {
  display: flex;
  width: 100%;
  flex: 1;
  margin: 0 40px;
}
.header__searchInput {
  width: 100%;
  flex: 1;
  border: 1px solid #131921;
  border-left: none;
  border-right: none;
}
.header__searchSelect {
  border: 1px solid #131921;
  border-right-color: rgb(228, 226, 226);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: rgb(238, 232, 232);
  cursor: pointer;
}
.header__searchButton {
  border: 1px solid #131921;
  border-left: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #cd9042;
  cursor: pointer;
}
.header__menu {
  padding: 5px 0;
  border: 1px solid #131921;
  margin: 5px 5px 0 15px;
  cursor: pointer;
}
.header__option {
  border: 1px solid #131921;
  padding: 0 10px;
  margin-right: 5px;
  cursor: pointer;
}
.header__basket {
  padding-top: 10px;
}
.header__option p span {
  color: #cd9042;
  font-size: 20px;
}
.header__logo:hover,
.header__menu:hover,
.header__option:hover {
  border: 1px solid white;
}
.header2 {
  display: flex;
  justify-content: space-between;
  background-color: #232f3e;
  color: white;
  padding-bottom: 5px;
}
.header2__section1 {
  display: flex;
}
.header2__section1__part1 {
  display: flex;
  margin-left: 20px;
  margin: 5px 5px 5px 15px;
  padding: 0px 5px 5px 2px;
  margin-right: 80px;
  border: 1px solid #232f3e;
  cursor: pointer;
}
.header2__location {
  padding-top: 7px;
  font-size: 15px;
}
.header2__headLine {
  margin: 0 8px;
  margin: 7px;
  padding: 5px;
  border: 1px solid #232f3e;
  cursor: pointer;
}
.header2__brand {
  font-weight: bold;
  margin: 7px;
  padding: 5px;
  border: 1px solid #232f3e;
  cursor: pointer;
}
.header2__deliver p {
  font-size: 15px;
  line-height: 10px;
}
.header2__section1__part1:hover,
.header2__headLine:hover,
.header2__brand:hover {
  border-color: white;
}
.headerPhone {
  display: none;
}
.headerP__row1 {
  display: flex;
  justify-content: space-between;
  background-color: #232f3e;
  padding: 10px 20px 0 15px;
  color: white;
}
.headerP__row2 {
  background-color: #232f3e;
  display: flex;
  padding: 0 20px;
  height: 40px;
  padding-top: 15px;
}
.headerP__row1__part1 {
  display: flex;
}
.headerP__row1__part2 {
  display: flex;
}
.headerP__logo {
  object-fit: contain;
  width: 100px;
}
.headerP__menu {
  padding-right: 10px;
}
.headerP__signin {
  padding-right: 13px;
  font-weight: bold;
}
.headerP__total {
  color: #cd9042;
  font-size: 20px;
}
.headerP__wrap {
  display: flex;
  flex: 1;
  background-color: white;
  border-radius: 5px;
}
.headerP__input {
  border: 1px solid rgb(35, 47, 62, 0);
  flex: 1;
  border-right: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.headerP__button {
  border: 1px solid rgb(35, 47, 62, 0);
  border-left: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #cd9042;
}
.headerP__row3 {
  display: flex;
  padding: 15px;
  color: white;
  background-color: #232f3e;
  overflow-y: hidden;
  overflow-x: scroll;
}
.headerP__row3::-webkit-scrollbar {
  display: none;
}
.headerP__row3 > p {
  display: inline;
  padding-right: 16px;
  white-space: nowrap;
}

@media (max-width: 990px) {
  .headerpc {
    display: none;
  }
  .headerPhone {
    display: block;
  }
}
