.home {
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.home__img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}
.home__carousel {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.Carousel-indicators-8 {
  display: none;
}
.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}
.home__frontPicSmall {
  display: none;
  object-fit: contain;
  max-width: 100%;
}

@media (max-width: 990px) {
  .home__frontPicSmall {
    display: block;
  }
  .home__carousel {
    display: none;
  }
  .home__row {
    display: inline-block;
    z-index: 1;
    margin: 0;
    align-items: center;
    width: 100%;
  }
}
